body,
html {
  padding: 0;
  margin: 0;
}
header {
  margin: 1rem auto;
}
.blue {
  color: rgb(0, 100, 200);
}
.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marg-0-10 {
  margin: 0 10px;
}
.center h1 {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.add {
  width: 60%;
  padding: 5px 20px;
  background-color: rgb(0, 100, 200);
  color: rgb(250, 230, 200);
  font-weight: 900;
  font-size: 25px;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.add::before {
  content: attr(data-content);
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 100%;
  transform: translate(-100%, 0);
  transition: all 300ms ease-in-out;
  opacity: 0;
}
.add span {
  transition: all 300ms ease-in-out;
  display: block;
  opacity: 1;
}
.add:hover span {
  transform: translate(130%, 0);
  opacity: 0;
}
.add:hover::before {
  transform: translate(0, 0);
  opacity: 1;
}
.outer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translate(0, -130%);
  transition: all 300ms ease-in-out;
}
.inner {
  position: relative;
  top: 5%;
  left: 25%;
  background-color: rgb(205, 215, 250);
  width: 50%;
  min-height: 25%;
  padding: 30px 0;
}
.addTodo input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 60%;
  font-size: 1rem;
}
.submit {
  margin-top: 1.2rem;
}
a.close {
  text-decoration: none;
  color: rgb(0, 100, 200);
  background-color: rgb(200, 230, 200);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  position: absolute;
  right: 5%;
  border: 1px solid rgb(0, 100, 200);
  padding: 3px 4px 2px 4px;
  border-radius: 3px;
}
.active {
  transform: translate(0, 0);
  opacity: 1;
}
.alert {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(220, 230, 200);
}
.green {
  color: rgb(0, 255, 0);
}
.red {
  color: rgb(220, 25, 25);
}
section {
  max-width: 60%;
  margin: 20px auto;
}
section table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 8px 0;
  text-align: left;
  border-bottom: 1px solid rgb(0, 100, 200);
}
td:last-child {
  text-align: center;
}
thead {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 255);
}
thead tr td:nth-child(2) {
  text-align: center;
}
.itemsBody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 300ms;
}
.itemsBody {
  cursor: pointer;
}
.itemsBody > tr > td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(9, 9, 109);
}
.itemsBody > tr > td:nth-child(2) {
  border-left: 1px dotted rgb(9, 9, 109);
  border-right: 1px dotted rgb(9, 9, 109);
  padding: 8px 5px;
  text-align: center;
  font-size: 0.9rem;
}
.checked {
  text-decoration: line-through;
}
.delete {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(220, 25, 25);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 1px 13px;
  transition-duration: 200ms;
}
.delete:hover {
  color: rgb(250, 230, 200);
  background-color: rgb(220, 25, 25);
}
@media screen and (max-width: 500px) {
  .center h1 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .topHead {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .topHead img {
    max-width: 15%;
    height: auto;
  }
  section {
    max-width: 95%;
  }
  thead {
    font-size: 1rem;
  }
  .itemsBody > tr > td {
    font-size: 0.8rem;
  }
  .itemsBody > tr > td:nth-child(2) {
    font-size: 0.6rem;
  }
  .delete {
    font-size: 1.2rem;
  }
  .add {
    width: 60%;
    font-size: 1.2rem;
  }
  .inner {
    left: 5%;
    width: 90%;
    height: 40%;
  }
  .addTodo input {
    margin: 3rem auto 1rem auto;
    width: 85%;
    font-size: 1rem;
  }
  .submit {
    margin: 1.2rem;
  }
}
